@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FilmRate njalepsze filmy do obejrzenia: </h1>
    <ul>
        <li>Taksówkarz</li>
        <li>Pszczólki</li>
        <li>To</li>
        <li>Joker</li>
        <li>Pulp Fiction</li>
        <li>Batman</li>
    </ul>
</div>
